* {
    background-color: wheat;
}

h1 {
    color: aqua;
    font-weight: 800;
    text-align: center;
}

h3 {
    color: aquamarine;

}

p {
    color: black;
    font-size: 20px;
}

ul, ol {
    color: green;
    font-size: 20px;
    padding: 8px;
    margin: 8px auto;
}

a {
    font-style: italic;
    font-size: 14px;
    color: red;
}